html {
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 80px;
  border-bottom: 2px solid rgba(66, 66, 66, 0.4);
  align-content: center;
}
.header {
  width: 1310px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: auto;
  padding: 0px;
}
.logo {
  margin-right: 0px;
  width: 193px;
  height: 40px;
  background-color: #c4c4c4;
  border-radius: 21px;
}

.nav {
  display: flex;
  flex-direction: row;
}
.nav-item {
  padding-right: 40px;
  position: relative;
}
.nav-item:last-of-type {
  padding-right: 0px;
}
.nav-link {
  color: #353535;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-decoration: none;
}

.dropdown-list {
  padding: 32px 24px;
  position: absolute;
  z-index: 1000;
  display: none;
  top: 30px;
  width: 229px;
  border: 2px solid rgba(66, 66, 66, 0.4);
  border-top: 0px;
  border-radius: 4px;
  list-style-type: none;
  background-color: white;
}
.dropdown {
  padding-bottom: 16px;
}
.dropdown:last-of-type {
  padding-bottom: 0px;
}
.nav-item:hover .dropdown-list {
  display: block;
}

.dropdown-link {
  color: #3a3a3a;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-decoration: none;
  list-style-type: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.text {
  margin: 0px;
  font-size: 80px;
  font-weight: 900;
  line-height: 98px;
  font-family: montserrat;
}
